
        <div class="card-body">
            <!--<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">-->
              <h2 class="card-title">{% if post.redirect301 %}
                En LinkedIn: {% endif %}{{ post.title }}</h2>
              {% if post.subtitle %}
              <p class="card-text">{{ post.subtitle }}</p>
              {% else %}
              <p class="card-text">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
              {% endif %}
              <a {% if post.redirect301 %}
              href="{{ post.redirect301 }}" target="_blank"
              {% else %}
              href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
              {% endif %}class="btn btn-primary">Continuar leyendo</a> 
            <!--</a>-->
            <div class="card-footer text-muted">Publicado por
              {% if post.author %}
              {{ post.author }}
              {% else %}
              {{ site.author }}
              {% endif %}
              el
              {{ post.date | date: '%d/%m/%Y' }} <!-- &middot; {% include read_time.html content=post.content %}-->           
            </div>
          </div>
          <hr>